.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 40px 0 30px 0;
}

.search-input {
    width: 30%;
}

.table-row {
    height: 60px;
}